#changeadmin{
		background: rgb(118, 16, 176 );
		width: 70%;
		margin: 0px auto;
		height: 550px;
		border: 1px solid  #ffffff ;
		position: relative;
		color: white;
		font-size: 12px;
		display: none;
		padding: 30px;
		text-align: center;
		
		
}

